<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zomato-Chronicles | {% block title  %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <style>
     body{
        background-image: url('https://wallpaperaccess.com/full/1306117.jpg');
        background-repeat: no-repeat;
        background-position: fixed;
        background-size: cover;
    }
  </style>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'add_dish' %}">Zomato-Chronicles</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'dish_list' %}">Dish List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add_dish' %}">Add Dish</a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="{% url 'place_order' %}">Place Order</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'order_list' %}">View All Order</a>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>
    
    {% block body  %}
   
  {% endblock body %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>